{% extends 'Dashboard/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/Dashboard/eventApprove.css' %}">
{% endblock %}

{% block content %}
<!-- ============================================================== -->
<!-- Three charts -->
<!-- ============================================================== -->
<div class="row justify-content-center">
    {% for council in councils %}
        <div class="col-lg-4 col-md-12">
            <a href="{% url 'councilEventApprove' council.council.id %}" class="a-tag">
                <div class="white-box analytics-info" style="border-radius: 7px;">
                    <h3 class="box-title center">{{ council.council }}</h3>
                </div>
            </a>
        </div>
    {% endfor %}
</div>


{% endblock %}