{% extends 'Dashboard/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/Dashboard/event.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
            <!-- <div class="container"> -->
                <h1 class="font">Event Name</h1>
                <div class="d-md-flex">
                    <ul class="list-inline d-flex ms-auto">
                        <li class="ps-3">
                            <h3 class=" font">Date: May 26, 2021</h3>
                        </li>
                    </ul>
                </div>
            <!-- </div> -->
            <div class="poster-container center">
                <img src="{% static 'images/background.png' %}" alt="poster">
            </div>
            <div class="content">
                <h4 class="font">Description:</h4>
                <p class="para-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae harum eaque minima quas provident unde facere quibusdam quidem laborum ut ipsum error iusto, nostrum ad! Excepturi, voluptas deserunt. Velit, officia?Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae harum eaque minima quas provident unde facere quibusdam quidem laborum ut ipsum error iusto, nostrum ad! Excepturi, voluptas deserunt. Velit, officia?Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae harum eaque minima quas provident unde facere quibusdam quidem laborum ut ipsum error iusto, nostrum ad! Excepturi, voluptas deserunt. Velit, officia?Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae harum eaque minima quas provident unde facere quibusdam quidem laborum ut ipsum error iusto, nostrum ad! Excepturi, voluptas deserunt. Velit, officia?</p>
            </div>
            <div class="payment">
                <h4 class="font">Registration Fee: Rs. 10</h4>
                <h4 class="font">Payment Number: 1234567890</h4>
            </div>
            <div class="register center">
                <button type="button" class="btn custom-btn para-font" data-toggle="modal"
                data-target="#register" data-backdrop='static' data-keyboard='false'>
                    Register
                </button>
            </div>
            
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header center">
                <h5 class="modal-title para-font" id="exampleModalLongTitle">Registration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-material" method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3 class="para-font">Are you sure you wish to register?</h3>
                    <!-- <div class="form-group mb-4">
                        <div class="col-sm-12">
                            <button class="btn btn-success">Update Profile</button>
                        </div>
                    </div> -->
                
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn para-font" style="background-color: #101010;
                    color:white;">Confirm Registration</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}