{% extends 'Dashboard/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/Dashboard/manageEventsCouncil.css' %}">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
            <div class="d-md-flex">
                <h3 class="box-title">{{sel_council}}</h3>
                <ul class="list-inline d-flex ms-auto">
                    <li class="ps-3">
                        {% if can_edit %}
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#addEvent" data-backdrop='static' data-keyboard='false'>
                            Add Event
                        </button>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="table-responsive">
                <table class="table text-nowrap">
                    <thead>
                        <tr>
                            <th class="border-top-0">#</th>
                            <th class="border-top-0">Event Name</th>
                            <th class="border-top-0">Date</th>
                            <th class="border-top-0">Status</th>
                            <th class="border-top-0">View Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><img src="/media/{{event.poster}}" alt="user-img"
                                    width="36" class="img-circle"><span class="font-medium"
                                    style="padding-left: 5px;">{{event.name}}</span></td>
                            <td><span class="font-medium" style="padding-left: 5px;">{{event.date}}</span></td>
                            <td>
                                {% if event.is_approved %}
                                <span class="font-medium" style="padding-left: 5px; color: green;">Approved</span>
                                {% else %}
                                <span class="font-medium" style="padding-left: 5px; color:red;">Pending</span>
                                {% endif %}
                            </td>
                            <td><span class="font-medium" style="padding-left: 5px;"><button
                                        class="btn btn-warning">View Details</button></span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- <div id="ct-visits" style="height: 405px;">
                <div class="chartist-tooltip" style="top: -17px; left: -12px;"><span
                        class="chartist-tooltip-value">6</span>
                </div>
            </div> -->
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-material" method="POST" action="{% url 'addEvent' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-4">
                        <label class="col-md-12 p-0">Name of the Event <span style="color: red;">*</span></label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="text" placeholder="Praxis" class="form-control p-0 border-0" name="name" required>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label class="col-md-12 p-0">Council Name <span style="color: red;">*</span></label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="text" placeholder="ISTE" class="form-control p-0 border-0" name="council" value='{{sel_council}}'required readonly>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="date" class="col-md-12 p-0">Date <span style="color: red;">*</span></label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="datetime-local" class="form-control p-0 border-0"
                                name="date" id="date" required>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="description" class="col-md-12 p-0">Description <span style="color: red;">*</span></label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="text" class="form-control p-0 border-0"
                                name="description" id="description" placeholder="Event Description" required>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="poster" class="col-md-12 p-0">Poster <span style="color: red;">*</span></label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="file" class="form-control p-0 border-0"
                                name="poster" id="poster" required>
                        </div>
                    </div>
                    
                    <div class="form-group mb-4">
                        <label for="registration_fee" class="col-md-12 p-0">Registration Fee</label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="number" class="form-control p-0 border-0"
                                name="registration_fee" placeholder="30" value='0' id="registration_fee">
                        </div>
                    </div>
                    
                    <div class="form-group mb-4">
                        <label for="payment_no" class="col-md-12 p-0">Payment Number</label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="tel" class="form-control p-0 border-0"
                                name="payment_no" placeholder="123456790" value='0' id="payment_no">
                        </div>
                    </div>
                    
                    <!-- <div class="form-group mb-4">
                        <div class="col-sm-12">
                            <button class="btn btn-success">Update Profile</button>
                        </div>
                    </div> -->
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">Add Event</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}