{% extends 'Dashboard/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/Dashboard/myEvents.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
            <h3 class="box-title">All Events</h3>
            <!-- <div class="d-md-flex">
                <ul class="list-inline d-flex ms-auto">
                    <li class="ps-3">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEvent"
                            data-backdrop='static' data-keyboard='false'>
                            Add Event
                        </button>
                    </li>
                </ul>
            </div> -->
            <div class="table-responsive">
                <table class="table text-nowrap">
                    <thead>
                        <tr>
                            <th class="border-top-0">#</th>
                            <th class="border-top-0">Event Name</th>
                            <th class="border-top-0">Event By</th>
                            <th class="border-top-0">Date</th>
                            <th class="border-top-0">Result</th>
                            <th class="border-top-0">View Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><img src="{% static 'plugins/Dashboard/images//users/varun.jpg' %}" alt="user-img"
                                    width="36" class="img-circle"><span class="font-medium"
                                    style="padding-left: 5px;">Workshop</span></td>
                            <td><span class="font-medium" style="padding-left: 5px;">Code Cell</span></td>
                            <td><span class="font-medium" style="padding-left: 5px;">May 26, 2021</span></td>
                            <td><span class="font-medium" style="padding-left: 5px;">Participant</span></td>
                            <td><span class="font-medium" style="padding-left: 5px;"><a href="{% url 'event' %}"><button
                                class="btn btn-warning">View Details</button></a></span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><img src="{% static 'plugins/Dashboard/images//users/varun.jpg' %}" alt="user-img"
                                    width="36" class="img-circle"><span class="font-medium"
                                    style="padding-left: 5px;">Workshop</span></td>
                            <td><span class="font-medium" style="padding-left: 5px;">Code Cell</span></td>
                            <td><span class="font-medium" style="padding-left: 5px;">May 26, 2021</span></td>
                            <td><span class="font-medium" style="padding-left: 5px;">Participant</span></td>
                            <td><span class="font-medium" style="padding-left: 5px;"><a href="{% url 'event' %}"><button
                                class="btn btn-warning">View Details</button></a></span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><img src="{% static 'plugins/Dashboard/images//users/varun.jpg' %}" alt="user-img"
                                    width="36" class="img-circle"><span class="font-medium"
                                    style="padding-left: 5px;">Workshop</span></td>
                            <td><span class="font-medium" style="padding-left: 5px;">Code Cell</span></td>
                            <td><span class="font-medium" style="padding-left: 5px;">May 26, 2021</span></td>
                            <td><span class="font-medium" style="padding-left: 5px;">Participant</span></td>
                            <td><span class="font-medium" style="padding-left: 5px;"><a href="{% url 'event' %}"><button
                                class="btn btn-warning">View Details</button></a></span></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- <div id="ct-visits" style="height: 405px;">
                <div class="chartist-tooltip" style="top: -17px; left: -12px;"><span
                        class="chartist-tooltip-value">6</span>
                </div>
            </div> -->
        </div>
    </div>
</div>
{% endblock %}