{% extends 'Dashboard/base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-12">
        <div class="white-box">
            <div class="user-bg"> 
                <div class="overlay-box">
                    <div class="user-content">
                        <a href="javascript:void(0)"><img src="/media/{{role.photo}}"
                                class="thumb-lg img-circle" alt="img"></a>
                        <h4 class="text-white mt-2">{{user.first_name}} {{user.last_name}}</h4>
                        <h5 class="text-white mt-2">{{user.email}}</h5>
                    </div>
                </div>
            </div>
            <!-- <div class="user-btm-box mt-5 d-md-flex">
                <div class="col-md-4 col-sm-4 text-center">
                    <h1>258</h1>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <h1>125</h1>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <h1>556</h1>
                </div>
            </div> -->
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-12">
        <div class="card">
            <div class="card-body">
                <form class="form-horizontal form-material">
                    <div class="form-group mb-4">
                        <label class="col-md-12 p-0">First Name</label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="text" name="first_name" value="{{user.first_name}}" class="form-control p-0 border-0">
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label class="col-md-12 p-0">Last Name</label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="text" name='last_name' value="{{user.last_name}}" class="form-control p-0 border-0">
                        </div>
                    </div>
                    {% if role_name == 'Student' %}
                    <div class="form-group mb-4">
                        <label for="dept" class="col-md-12 p-0">Department</label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="text" value="{{role.dept.name}}" class="form-control p-0 border-0"
                                name="dept" id="dept">
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="division" class="col-md-12 p-0">Division</label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="text" value="{{role.division}}" class="form-control p-0 border-0"
                                name="division" id="division">
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="gender" class="col-md-12 p-0">Gender</label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="text" value="{{role.gender}}" class="form-control p-0 border-0"
                                name="gender" id="gender">
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="mobile_no" class="col-md-12 p-0">Moblie No.</label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="tel" value="{{role.mobile_no}}" class="form-control p-0 border-0"
                                name="mobile_no" id="mobile_no">
                        </div>
                    </div>
                    {% endif %}

                    {% if role_name == 'Staff' %}
                    <div class="form-group mb-4">
                        <label for="dept" class="col-md-12 p-0">Department</label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="text" value="{{role.dept.name}}" class="form-control p-0 border-0"
                                name="dept" id="dept">
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="gender" class="col-md-12 p-0">Gender</label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="text" value="{{role.gender}}" class="form-control p-0 border-0"
                                name="gender" id="gender">
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="mobile_no" class="col-md-12 p-0">Moblie No.</label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="tel" value="{{role.mobile_no}}" class="form-control p-0 border-0"
                                name="mobile_no" id="mobile_no">
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="designation" class="col-md-12 p-0">Designation</label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="text" value="{{role.designation}}" class="form-control p-0 border-0"
                                name="designation" id="designation">
                        </div>
                    </div>
                    {% endif %}
                    <!-- <div class="form-group mb-4">
                        <label class="col-md-12 p-0">Password</label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="password" value="password" class="form-control p-0 border-0">
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label class="col-md-12 p-0">Phone No</label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="text" placeholder="123 456 7890" class="form-control p-0 border-0">
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label class="col-md-12 p-0">Message</label>
                        <div class="col-md-12 border-bottom p-0">
                            <textarea rows="5" class="form-control p-0 border-0"></textarea>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label class="col-sm-12">Select Country</label>

                        <div class="col-sm-12 border-bottom">
                            <select class="form-select shadow-none p-0 border-0 form-control-line">
                                <option>London</option>
                                <option>India</option>
                                <option>Usa</option>
                                <option>Canada</option>
                                <option>Thailand</option>
                            </select>
                        </div>
                    </div> -->
                    <div class="form-group mb-4">
                        <div class="col-sm-12">
                            <button class="btn btn-success">Update Profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
{% endblock %}