{% extends 'Dashboard/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/Dashboard/roleRequest.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
            <h3 class="box-title">Role Request Form</h3>
            <form class="form-horizontal form-material" method="POST" action="{% url 'allow_requests_staff' %}">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">#</th>
                                <th class="border-top-0">Role</th>
                                <th class="border-top-0" style="text-align: center;">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Principal</td>
                                <td>
                                    <input type="text" name="principal" value="Principal"  style="display: none;">
                                    <div class="switch">
                                        {% if P_role.accept_requests %}
                                        <input type="radio" class="switch-input" name="accept_requests_1" value="True"
                                            id="principal1" checked>
                                        <label for="principal1" class="switch-label switch-label-off">ON</label>
                                        <input type="radio" class="switch-input" name="accept_requests_1" value="False"
                                            id="principal2">
                                        <label for="principal2" class="switch-label switch-label-on">OFF</label>
                                        <span class="switch-selection"></span>
                                        {% else %}
                                        <input type="radio" class="switch-input" name="accept_requests_1" value="True"
                                            id="principal1">
                                        <label for="principal1" class="switch-label switch-label-off">ON</label>
                                        <input type="radio" class="switch-input" name="accept_requests_1" value="False"
                                            id="principal2" checked>
                                        <label for="principal2" class="switch-label switch-label-on">OFF</label>
                                        <span class="switch-selection"></span>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Department HODs</td>
                                <td>
                                    <input type="text" name="hod" value="HOD" style="display: none;">
                                    <div class="switch">
                                        {% if h_role.accept_requests %}
                                        <input type="radio" class="switch-input" name="accept_requests_2" value="True"
                                            id="hod1" checked>
                                        <label for="hod1" class="switch-label switch-label-off">ON</label>
                                        <input type="radio" class="switch-input" name="accept_requests_2" value="False"
                                            id="hod2">
                                        <label for="hod2" class="switch-label switch-label-on">OFF</label>
                                        <span class="switch-selection"></span>
                                        {% else %}
                                        <input type="radio" class="switch-input" name="accept_requests_2" value="True"
                                            id="hod1">
                                        <label for="hod1" class="switch-label switch-label-off">ON</label>
                                        <input type="radio" class="switch-input" name="accept_requests_2" value="False"
                                            id="hod2" checked>
                                        <label for="hod2" class="switch-label switch-label-on">OFF</label>
                                        <span class="switch-selection"></span>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Faculty Incharges</td>
                                <td>
                                    <input type="text" name="facultyIncharge" value="Faculty Incharge" style="display: none;">
                                    <div class="switch">
                                        {% if f_role.accept_requests %}
                                        <input type="radio" class="switch-input" name="accept_requests_3" value="True"
                                            id="facultyIncharge1" checked>
                                        <label for="facultyIncharge1" class="switch-label switch-label-off">ON</label>
                                        <input type="radio" class="switch-input" name="accept_requests_3" value="False"
                                            id="facultyIncharge2">
                                        <label for="facultyIncharge2" class="switch-label switch-label-on">OFF</label>
                                        <span class="switch-selection"></span>
                                        {% else %}
                                        <input type="radio" class="switch-input" name="accept_requests_3" value="True"
                                            id="facultyIncharge1">
                                        <label for="facultyIncharge1" class="switch-label switch-label-off">ON</label>
                                        <input type="radio" class="switch-input" name="accept_requests_3" value="False"
                                            id="facultyIncharge2" checked>
                                        <label for="facultyIncharge2" class="switch-label switch-label-on">OFF</label>
                                        <span class="switch-selection"></span>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="btn-wrapper " style="text-align: center;">
                    <button type="submit" class="btn btn-primary" style="width: 20%;">Submit</button>
                </div>    
            </form>
        </div>
    </div>
</div>
{% endblock %}