{% extends 'Dashboard/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/Dashboard/studentRoleRequest.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
            <h3 class="box-title">Role Request Form</h3>
            <form class="form-horizontal form-material">
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">#</th>
                                <th class="border-top-0">Role</th>
                                <th class="border-top-0" style="text-align: center;">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>General Secretary</td>
                                <td>
                                    <input type="text" name="gs" value="GS" disabled style="display: none;">
                                    <div class="switch">
                                        <input type="radio" class="switch-input" name="accept_requests" value="True"
                                            id="gs1" checked>
                                        <label for="gs1" class="switch-label switch-label-off">ON</label>
                                        <input type="radio" class="switch-input" name="accept_requests" value="False"
                                            id="gs2">
                                        <label for="gs2" class="switch-label switch-label-on">OFF</label>
                                        <span class="switch-selection"></span>
                                    </div>
                                </td>
                            </tr>
                           

                        </tbody>
                    </table>
                </div>
                <div class="btn-wrapper " style="text-align: center;">
                    <button type="submit" class="btn btn-primary" style="width: 20%;">Submit</button>
                </div>    
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
            <h3 class="box-title">Role Request Form</h3>
            <form class="form-horizontal form-material">
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">#</th>
                                <th class="border-top-0">Role</th>
                                <th class="border-top-0" style="text-align: center;">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Council Members</td>
                                <td>
                                    <input type="text" name="council_member" value="Council Member" disabled style="display: none;">
                                    <div class="switch">
                                        <input type="radio" class="switch-input" name="accept_requests" value="True"
                                            id="council_member1" checked>
                                        <label for="council_member1" class="switch-label switch-label-off">ON</label>
                                        <input type="radio" class="switch-input" name="accept_requests" value="False"
                                            id="council_member2">
                                        <label for="council_member2" class="switch-label switch-label-on">OFF</label>
                                        <span class="switch-selection"></span>
                                    </div>
                                </td>
                            </tr>
                           

                        </tbody>
                    </table>
                </div>
                <div class="btn-wrapper " style="text-align: center;">
                    <button type="submit" class="btn btn-primary" style="width: 20%;">Submit</button>
                </div>    
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
            <h3 class="box-title">Role Request Form</h3>
            <form class="form-horizontal form-material">
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">#</th>
                                <th class="border-top-0">Role</th>
                                <th class="border-top-0" style="text-align: center;">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Student Heads</td>
                                <td>
                                    <input type="text" name="student_head" value="Student Head" disabled style="display: none;">
                                    <div class="switch">
                                        <input type="radio" class="switch-input" name="accept_requests" value="True"
                                            id="student_head1" checked>
                                        <label for="student_head1" class="switch-label switch-label-off">ON</label>
                                        <input type="radio" class="switch-input" name="accept_requests" value="False"
                                            id="student_head2">
                                        <label for="student_head2" class="switch-label switch-label-on">OFF</label>
                                        <span class="switch-selection"></span>
                                    </div>
                                </td>
                            </tr>
                           

                        </tbody>
                    </table>
                </div>
                <div class="btn-wrapper " style="text-align: center;">
                    <button type="submit" class="btn btn-primary" style="width: 20%;">Submit</button>
                </div>    
            </form>
        </div>
    </div>
</div>
{% endblock %}